extends base

block body
	h1 Liste des utilisateurs enregistrés
	table
		each a in authors
			tr
				td
					p
						a(href="/admin/user/"+a.author) #{a.author}
				td
					p
						a(href="mailto:"+a.email) #{a.email}
				td
					p
						a(href="url") #{a.url}
				td
					p
						input(type="button",value="Supprimer",onclick="del_author('"+a.author+"')")
	script(type="text/javascript")
		function del_author(author){
			if(confirm("Suppression irrémédiable de l'utilisateur '"+author+"' et de toutes ses données associées")){
				document.location="/admin/del/"+author;
			}else{

			}
		}
