extends base

block body
	h1 Ajouter un utilisateur
	form(action='/admin/user/new',method='post')
		table
			tr
				td Pseudo
				td 
					input(name="author")
			tr
				td Mot de passe 
				td
					input(name="password",value="MotDePasse")
			tr
				td Email
				td
					input(name="email",size="50",value="moi@textopoly.org")
			tr
				td Site Web
				td
					input(name="url",size="50",value="http://textopoly.org")
			tr
				td
					input(style="width:100%",type='submit',value='Ajouter')
	br
	h1 Liste des utilisateurs enregistrés
	table
		each a in authors
			tr
				td
					p
						a(href="/admin/user/"+a.author) #{a.author}
				td
					p
						a(href="mailto:"+a.email) #{a.email}
				td
					p
						a(href="url") #{a.url}
				td
					p
						input(type="button",value="Supprimer",onclick="del_author('"+a.author+"')")
	script(type="text/javascript")
		function del_author(author){
			if(confirm("Suppression irrémédiable de l'utilisateur '"+author+"' et de toutes ses données associées")){
				document.location="/admin/del/"+author;
			}else{

			}
		}
