!!! 5
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='javascripts/main',src='javascripts/require-jquery.js')
  body!= body
    div#content
      div#uiWrap
        div#header
         div#topbar
         h1 TEXTOPOLY
         div#blink
         ul#topmenu
           li ?
           li >
        div#zoomWrap
          div#zoom
            div#zoomSlider
        div#footer
          h1 Chemins de lecteurs
    