/*
+++++++++++++++++++++++++++++++++++++++++++++++++
POLICES
+++++++++++++++++++++++++++++++++++++++++++++++++
 */

@font-face {
  font-family: "NotCourierSans";
  src: local("NotCourierSans.ttf"), format("truetype");
  font-weight:  400;
  font-style:   regular;
  font-variant: normal;
  font-stretch: normal;
  font-family: "OSP-DIN";
  src: local("OSP-DIN.ttf"), format("truetype");
  font-weight:  400;
  font-style:   regular;
  font-variant: normal;
  font-stretch: normal;
}
 
/*
+++++++++++++++++++++++++++++++++++++++++++++++++
MAIN
+++++++++++++++++++++++++++++++++++++++++++++++++
 */

body {
	font-family: NotCourierSans, monospace;
	background-color: #666666;
}

#switchTypeLive{
		font-family: NotCourierSans, monospace;

	resize: none;
	width: 420px;
	height: 380px;
}
/*
+++++++++++++++++++++++++++++++++++++++++++++++++
TYPOGRAPHY
+++++++++++++++++++++++++++++++++++++++++++++++++
 */

.format1 {
font-size: 160px;
text-align: center;
}

.format2 {
font-size: 40px;
text-align: center;

}
.format3 {
font-size: 30px;
text-align: justify;
}

.format4 {
font-size: 20px;
text-align: justify;
}

.format5 {
font-size: 16px;
text-align: justify;
}