/* ZONING DE L'INTERFACE */

div#content{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
div#map {
	position: absolute;
	top: 0px;
	left: 0px;
}
div#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -30px; /*sticky footer*/

}
div#header {
	position: relative;
	z-index: 1000;
	width: 960px;
	height: 120px;
	top: 0px;
	margin: 0px auto;
	background-color: #eeeeec; /* Aluminium 1 Lighter */
	
	background-color: rgba(238, 238, 236, 0.9); /* Aluminium 1 Lighter */

	}
div#header > #top {
	position: relative;
	width: 940px;
	height: 4px;
	top: 0px;
	margin: 0px auto;
background-color:	#2e3436 /* Aluminium 2 Darker */
}

div#zoom{

	z-index: 1000;
	float:left;
	width: 24px;
	height: 200px;
	margin-left:10px;
	background-color: #eeeeec; /* Aluminium 1 Lighter */
	background-color: rgba(238, 238, 236, 0.9); /* Aluminium 1 Lighter */
}

.clear{
	clear: both;
}
div#footer {
	position: relative;
	z-index: 1000;
	width: 960px;
	height: 30px;
	margin: 0px auto;
	background-color: #eeeeec; /* Aluminium 1 Lighter */
	border-top: #2e3436 dashed 1px;
	background-color: rgba(238, 238, 236, 0.9); /* Aluminium 1 Lighter */
}


/* MISE EN FORME*/

div#header > h1 {
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	font-family: "FuturaCondensedMedium", sans-serif;
	font-size: 72px;
	line-height: 60px;
	color: #2e3436; /* Aluminium 2 Darker */
}
div#footer > h1 {
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	font-family: "FuturaCondensedMedium", sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #2e3436; /* Aluminium 2 Darker */
}