/* ZONING DE L'INTERFACE */
html, body, #content {

}
body > #content {

}
div#content {
	
	min-height: 100%;
		height: auto;
		height: 100%;
	padding-bottom: 40px;/* must be same height as the footer */
	width: 100%;
	overflow: hidden;
}
div#map {
	position: absolute;
	top: 0px;
	left: 0px;
}
#footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear: both;
	background-color: rgba(255,255,0,0.8);
}

/*
div#header {
	position: relative;
	z-index: 1000;
	width: 960px;
	height: 120px;
	top: 0px;
	margin: 0px auto;
	background-color: rgba(255,255,255,0.8);
}

*/