extend layout
block body
	div#content
		div#uiWrap
			div#header.small
				div#topbar
				div#title
					h1 TEXTOPOLY
					div#blink
				div#topmenu
					div#btnHelp.normal
					div#btnFocus.normal
    
			div#bookView
				h2 chemin de #{a}
				each txt in pathwalk.pw
					if txt.i
						img(src='/getimg/['+txt.p+']')
					else if txt.t
							p(class=txt.s+' '+txt.c+' '+txt.lc) #{txt.t}
						else if txt.e
								p(style="background-color:grey") &nbsp;       
						br
			div#footer
				h2
					a(href="/") Textopoly |
					a(href="/admin/user/"+a) #{a}
