div#content
  div#uiWrap
    div#header
      div#topbar
      div#title
        h1 TEXTOPOLY
        div#blink
      
      div#topmenu
        div#btnHelp.normal
        div#btnFocus.normal
        
     div#bookView.z2
     
        h1 chemin de #{a}
        each txt in pathwalk.pw
          if txt.i
            img(src='/getimg/['+txt.p+']')
          else
            div.msg(class=txt.s+' '+txt.c+' '+txt.lc)
              p #{txt.t}
      
      div#footer
        a(href="/mpath/"+a) #{a} | 
        a(href="/mauth") Auteurs