doctype 5
html
	head
		title=title
		link(rel='stylesheet',href='/stylesheets/styles.css',type='text/css')
		link(rel='alternate',href='http://dev.textopoly.org/rss',type='application/rss+xml',title='Textopoly » 20')
		script(type='text/javascript')
			var params=!{JSON.stringify(params)};
		block head
	body.default
		block body
