doctype 5
html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/styles.css',type='text/css')
		script(type='text/javascript')
			var params=!{JSON.stringify(params)};
		block head
	body.default
		block body
