extend layout

block body
	div#content
			div#uiWrap
				div#header.small
					div#topbar
					div#title
						h1 <a href="/">TEXTOPOLY</a>
						div#blink
	
				div#main(style="font-align:center;")
					h1 Bienvenue sur Textopoly !
					hr	
					h2 Vous avez oubliez votre mot de passe
					hr
					form(action='/user/reset',method='get')
						label Adresse email
						input(type='text', name="email",size="50",value="moi@textopoly.org")
						input(type='submit',value="Aidez moi",style="margin-top:10px;")
				div#footer
					h3 <a href="/">TEXTOPOLY</a>