extend layout

block body
	div#content
			div#uiWrap
				div#header.small
					div#topbar
					div#title
						h1 <a href="/">TEXTOPOLY</a>
						div#blink
	
				div#main(style="font-align:center;")
					h1 Bienvenue sur Textopoly !
					hr	
					h2 S'inscrire
					hr
					form(action='/admin/user/new',method='post')
						label Pseudo 
						
						input(type='text', name="author", value="MonNom")
						label Mot de passe 
						
						input(type='text', name="password",value="MotDePasse")
						label Email 
						
						input(type='text', name="email",size="50",value="moi@textopoly.org")
						label Site Web 
						
						input(type='text', name="url",size="50",value="http://textopoly.org")
						p(style="margin-top:10px;") En cliquant sur le bouton "S'inscrire", j'accepte sans condition la	Charte d'Utilisation. Lisible : 
							a(href="http://blog.textopoly.org/?page_id=138",target='_new') ici.

						input(type='submit',value="S'inscrire",style="margin-top:10px;")
				div#footer
					h3 <a href="/logout">Fermer la session</a>