extends layout
block head
	script(src="//static.getclicky.com/js",type="text/javascript")
	script(type='text/javascript',src='javascripts/lib/raphael-min.js')
	script(data-main='javascripts/main',src='javascripts/lib/require-jquery.js')
	script(type='text/javascript')
		var params=!{JSON.stringify(params)};
	
block body
	div#content
		div#uiWrap
			div#header.big
				div#topbar
				div#title
					h1 TEXTOPOLY
					div#blink
				div#topmenu
					div#btnLog.log
					div#btnHelp.hlp
					div#btnFocus.fo 
				div#slider
					h2 TEXTOPOLY est en <strong>version beta</strong>
					p pour en savoir plus <a href="http://blog.textopoly.org" target="_blank">cliquez ici</a>
				div#mainMenu
					div#btnShow.active
					div#btnText.normal 
					div#btnPath.normal
					div#btnFind.normal
					div#btnCenter.normal
			div#zoomWrap
				div#zoom
					div#zoomSlider
			div#footer
				p#posInfo 0,0
				div#colorPicker(style='display:none')
				

			div#login.windowBox(style='display:none')
				h2 Authentification
				div(style='margin-left:32px;margin-right:32px;margin-bottom:16px;text-align:left;line-height:20px')
					p Textopoly délègue sa procédure d'authentification au service Persona opéré par la fondation Mozilla. Pour en savoir plus : la 
						a(href="https://developer.mozilla.org/fr/Persona") page mozilla dédiée au service.
				form#idform(action="/auth/browserid",method="post",style="display:none;")
					input#assertion(type="text",name="assertion")
				input#browserid(type="button",value='Se connecter avec Persona',style='width:200px;')
				div(style='margin-left:32px;margin-right:32px;margin-top:16px;text-align:left;line-height:20px')
					p Si vous êtes déjà inscrit, il vous suffit de vous authentifier avec l'adresse email d'inscription dans la fenêtre Persona pour retrouver votre compte.
					br
					p Si vous n'êtes pas inscrit, authentifiez vous avec Persona pour vous inscrire.
					br
					p Si vous êtiez enregistré avec une adresse email invalide ou oubliée, vous pouvez envoyer un email à 
						a(href="mailto:support@textopoly.org") support@textopoly.org 
						en précisant votre pseudo et l'adresse associée souhaitée.
				script
					$("#browserid").click(function(){ navigator.id.get(function(assertion) {  if (assertion) {        $("#assertion").val(assertion);        $("#idform").submit();      } else {        location.reload();      }    });  });

			
			div#filter.windowBox(style='display:none')
				h2 Filtrer la carte
				input#searchMap(type="text", name="s")
				div#results

		div.grid#map(class='z'+params.zoom)

			div#removeBox(style='display:none')
				
			div#writingBox(style='display:none')
				div.editArea.s.l4
					div.nw.handle.ca
					div.e.handle.ar
					div.se.handle.ok
					div.so.handle.ad
					div.sw.handle.me
					textarea#write(name='t',rows='9', maxlength='600', cols='70', spellcheck='false',  wrap='soft')
					div.imageArea(style='display:none')
					
			div#informationBox(style='display:none')
				div.infoArea.s
					div.nw.handle.ca
					div.ne.handle.de
					div.se.handle.in
					div.sw.handle.tx
					div.msgInfo(style='display:none')
						h2 Informations sur le billet
						h3#infoname John Do
						h3#infodate le 16 mai 2012 à 17 h 04
						h3 +++ <a id="permalink" target="_blank">PERMALIEN </a> +++
						div#pathCont
							label Départ :
							select#pathList
							div#pathGo.ok
					div.msgRemove(style='display:none')
						h2 Effacer le billet
						h3 Cette opération est irréversible !
						input(id="cancelRemove",type="button",value="Annuler")
						input(id="okRemove",type="button",value="OK")
						h3#msgDel(style="color:#ef2929")
					div.editArea(style='display:none')
						textarea#edit(name='t',rows='9', maxlength='600', cols='70', spellcheck='false',  wrap='soft')
					
			div#pathBox(style='display:none')
				div.pathArea.s
					div.nw.handle.ca
					div.n.handle.pa
					div.so.handle.ok(style='display:none')
