extends layout
block head
	script(type='text/javascript',src='javascripts/lib/raphael-min.js')
	script(data-main='javascripts/main',src='javascripts/lib/require-jquery.js')
block body
	div#content
		div#uiWrap
			div#header.big
				div#topbar
				div#title
					h1 TEXTOPOLY
					div#blink
				div#topmenu
					div#btnLog.log
					div#btnHelp.in
					div#btnFocus.fo 
				div#leftA
				div#slider
					h2 TEXTOPOLY est en <strong>version dev</strong>
					p pour en savoir plus <a href="http://blog.textopoly.org" target="_blank">cliquez ici</a>
				div#rightA
				div#mainMenu
					div#btnShow.active
					div#btnText.normal 
					div#btnPath.normal
					div#btnFind.normal
					div#btnCenter.normal
			div#zoomWrap
				div#zoom
					div#zoomSlider
			div#footer
				p#posInfo 0,0
				div#filter(style='display:none')
					h2 Filtrer la carte
					select
						option billets de :
						option chemins de :
					input#searchMap(type="text", name="s")
					div#results
		div.grid#map(class='z'+params.zoom)
			div#removebox(style='display:none')
				small
					span(stle='color:red') Attention
					br
					span Cette opération est irréversible.
			div#writingBox(style='display:none')
				div.editArea.s.l4
					div.nw.handle.ca
					div.e.handle.ar
					div.se.handle.ok
					div.so.handle.ad
					div.sw.handle.me
					textarea#write(name='t',rows='9', maxlength='600', cols='70', spellcheck='false',  wrap='soft')
					div.imageArea(style='display:none')
					div.authorArea(style='display:none')
						h2 Choisir un nom et une couleur
						input#current_author(type="text", name="a")
						div#colorPicker
			div#informationBox(style='display:none')
				div.infoArea.s
					div.nw.handle.ca
					div.ne.handle.de
					div.se.handle.in
					div.msgInfo(style='display:none')
						h2 Informations sur le billet
						h3#infoname John Do
						h3#infodate le 16 mai 2012 à 17 h 04
						h3 <a href="#permalink" target="_blank">Permalien </a>
			div#pathBox(style='display:none')
				div.pathArea.s
					div.n.handle.pa
					div.so.handle.ok