extends layout
block head
	script(type='text/javascript',src='javascripts/lib/raphael-min.js')
	script(data-main='javascripts/main',src='javascripts/lib/require-jquery.js')
	script(type='text/javascript')
			var params=!{JSON.stringify(params)};
block body
	div#content
		div#uiWrap
			div#header.big
				div#topbar
				div#title
					h1 TEXTOPOLY
					div#blink
				div#topmenu
					div#btnLog.log
					div#btnHelp.hlp
					div#btnFocus.fo 
				div#leftA
				div#slider
					h2 TEXTOPOLY est en <strong>version beta</strong>
					p pour en savoir plus <a href="http://blog.textopoly.org" target="_blank">cliquez ici</a>
				div#rightA
				div#mainMenu
					div#btnShow.active
					div#btnText.normal 
					div#btnPath.normal
					div#btnFind.normal
					div#btnCenter.normal
			div#zoomWrap
				div#zoom
					div#zoomSlider
			div#footer
				p#posInfo 0,0
				div#colorPicker(style='display:none')
				div#filter(style='display:none')
					h2 Filtrer la carte
					input#searchMap(type="text", name="s")
					div#results(style="overflow:auto;height:180px")
				div#login(style='display:none')
					h2 Authentification
					form(method="post",id="loginform",action="/login")
						label signature
						input(type='text',name='username')
						label mot de passe
						input(type='password',name='password')
						input(type="submit",value="Ok")
					input(id="cancelLogin",type="button",value="Annuler")	
					span(id="loginresult")
		div.grid#map(class='z'+params.zoom)
			div#removeBox(style='display:none')
				
			div#writingBox(style='display:none')
				div.editArea.s.l4
					div.nw.handle.ca
					div.e.handle.ar
					div.se.handle.ok
					div.so.handle.ad
					div.sw.handle.me
					textarea#write(name='t',rows='9', maxlength='600', cols='70', spellcheck='false',  wrap='soft')
					div.imageArea(style='display:none')
					
			div#informationBox(style='display:none')
				div.infoArea.s
					div.nw.handle.ca
					div.ne.handle.de
					div.se.handle.in
					div.sw.handle.tx
					div.msgInfo(style='display:none')
						h2 Informations sur le billet
						h3#infoname John Do
						h3#infodate le 16 mai 2012 à 17 h 04
						h3 <a href="#permalink" target="_blank">Permalien </a>
						select#pathList
						input(id="pathGo",type="button",value="Voir")
					div.msgRemove(style='display:none')
						h2 Effacer le billet
						h3 Cette opération est irréversible !
						input(id="cancelRemove",type="button",value="Annuler")
						input(id="okRemove",type="button",value="OK")
						h3#msgDel(style="color:#ef2929")
					div.editArea(style='display:none')
						textarea#edit(name='t',rows='9', maxlength='600', cols='70', spellcheck='false',  wrap='soft')
					
			div#pathBox(style='display:none')
				div.pathArea.s
					div.nw.handle.ca
					div.n.handle.pa
					div.so.handle.ok(style='display:none')