/***********************************************************************************
 *  DIFFERENTS ZOOM LEVELS
 ***********************************************************************************/
/* MSG SIZE & TYPOGRAPHY DEFAULT*/
/* SMALL*/
/* MSG FONT */
/* Z1 */
.z1 > .msg.s {
  width: 480px;
  height: 320px;
}
.z1 > .msg.s .l4 > p {
  margin-top: -12px;
  font-size: 216px;
  line-height: 320px;
  letter-spacing: 0px;
  text-align: center;
}
.z1 > .msg.s .l15 > p {
  margin-top: 8px;
  font-size: 144px;
  line-height: 80px;
  letter-spacing: 0px;
  text-align: center;
}
.z1 > .msg.l {
  width: 960px;
  height: 320px;
}
.z1 > .msg.t {
  width: 480px;
  height: 640px;
}
.z1 > .msg.f {
  width: 960px;
  height: 640px;
}
/* Z2 */
.z2 > .msg.s {
  width: 240px;
  height: 160px;
}
.z2 > .msg.s .l4 > p {
  margin-top: -6px;
  font-size: 108px;
  line-height: 160px;
  letter-spacing: 0px;
  text-align: center;
}
.z2 > .msg.s .l15 > p {
  margin-top: 4px;
  font-size: 72px;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
}
.z2 > .msg.l {
  width: 480px;
  height: 160px;
}
.z2 > .msg.t {
  width: 240px;
  height: 320px;
}
.z2 > .msg.f {
  width: 480px;
  height: 320px;
}
/* Z4 */
.z4 > .msg.s {
  width: 120px;
  height: 80px;
}
.z4 > .msg.s .l4 > p {
  margin-top: -3px;
  font-size: 54px;
  line-height: 80px;
  letter-spacing: 0px;
  text-align: center;
}
.z4 > .msg.s .l15 > p {
  margin-top: 2px;
  font-size: 36px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.z4 > .msg.l {
  width: 240px;
  height: 80px;
}
.z4 > .msg.t {
  width: 120px;
  height: 160px;
}
.z4 > .msg.f {
  width: 240px;
  height: 160px;
}
/* Z10 */
.z10 > .msg.s {
  width: 48px;
  height: 32px;
}
.z10 > .msg.s .l4 > p {
  margin-top: -1.2px;
  font-size: 21.6px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}
.z10 > .msg.s .l15 > p {
  margin-top: 0.8px;
  font-size: 14.4px;
  line-height: 8px;
  letter-spacing: 0px;
  text-align: center;
}
.z10 > .msg.l {
  width: 96px;
  height: 32px;
}
.z10 > .msg.t {
  width: 48px;
  height: 64px;
}
.z10 > .msg.f {
  width: 96px;
  height: 64px;
}
/* Z20 */
.z20 > .msg.s {
  width: 24px;
  height: 16px;
}
.z20 > .msg.s .l4 > p {
  margin-top: -0.6px;
  font-size: 10.8px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}
.z20 > .msg.s .l15 > p {
  margin-top: 0.4px;
  font-size: 7.2px;
  line-height: 4px;
  letter-spacing: 0px;
  text-align: center;
}
.z20 > .msg.l {
  width: 48px;
  height: 16px;
}
.z20 > .msg.t {
  width: 24px;
  height: 32px;
}
.z20 > .msg.f {
  width: 48px;
  height: 32px;
}
/* Z40 */
.z40 > .msg.s {
  width: 12px;
  height: 8px;
}
.z40 > .msg.s .l4 > p {
  margin-top: -0.3px;
  font-size: 5.4px;
  line-height: 8px;
  letter-spacing: 0px;
  text-align: center;
}
.z40 > .msg.s .l15 > p {
  margin-top: 0.2px;
  font-size: 3.6px;
  line-height: 2px;
  letter-spacing: 0px;
  text-align: center;
}
.z40 > .msg.l {
  width: 24px;
  height: 8px;
}
.z40 > .msg.t {
  width: 12px;
  height: 16px;
}
.z40 > .msg.f {
  width: 24px;
  height: 16px;
}
