/* FONTFACE*/
@font-face {
	font-family: 'NotCourierSansRegular';
	src: url('fonts/notcouriersans-webfont.eot');
	src: url('fonts/notcouriersans-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/notcouriersans-webfont.woff') format('woff'), url('fonts/notcouriersans-webfont.ttf') format('truetype'), url('fonts/notcouriersans-webfont.svg#NotCourierSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaCondensedMedium';
	src: url('fonts/futura_c-webfont.eot');
	src: url('fonts/futura_c-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/futura_c-webfont.woff') format('woff'), url('fonts/futura_c-webfont.ttf') format('truetype'), url('fonts/futura_c-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* VALEURS GLOBALES*/

html {
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-user-select: none;
}

body {
	height: 100%;
}
.msg {
	display: block;
	position: absolute;
	cursor: default;
}

.default {

	background: #d3d7cf; /* Aluminium 1 */
}
.pathMode {
	background: #BABDB6;
}

.msg > p, textarea#write {
	font-family: "NotCourierSansRegular", monospace;
	color: #2e3436; /* Aluminium 2 Darker */
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	word-wrap: break-word;
}

.msg > img {
	width: 100%;
	height: 100%;
}
h1, h2, h3, h4, h5, h6, label, input {
	font-family: 'FuturaCondensedMedium';
	text-transform: uppercase;
	color: #555753; /* Aluminium 2 */
}
hr {
	width: 940px;
	height: 1px;
	border: 0;
	background-color: #2e3436; /* Aluminium 2 Darker */
}
h1 {
	font-size: 24px;
	margin-bottom: 20px;
	letter-spacing: 5px;
}
h2 {
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
h3 {
	font-size: 12px;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
input {
	font-size: 14px;
}
label {
	font-size: 14px;
	letter-spacing: 1px;
	color: #555753; /* Aluminium 2 */
}