/* TAILLES DES MSG ZOOM 1:40 */

.z40 > .msg.s, .z40 > .fz.s {
	width: 12px;
	height: 8px;
}
.z40 > .msg.l {
	width: 24px;
	height: 8px;
}
.z40 > .msg.t {
	width: 12px;
	height: 16px;
}
.z40 > .msg.f {
	width: 24px;
	height: 16px;
}
/* COULEURS DES MSG */

.z40 > .msg.butter, .z40 > .msg.orange, .z40 > .msg.chocolate, .z40 > .msg.chameleon, .z40 > .msg.skyblue, .z40 > .msg.plum, .z40 > .msg.scarletred {
	background-color: #555753; /* Aluminium 2 */
}

