/* ZONING DE L'INTERFACE */

div#content {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
div#map {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: move;
}
div#uiWrap {
	position: relative;
	width: 960px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
div#header {
	position: absolute;
	z-index: 1500;
	width: 960px;
	height: 120px;
	top: 0px;
	margin: 0px auto;
	background-color: #eeeeec; /* Aluminium 1 Lighter */
	background-color: rgba(238, 238, 236, 0.9); /* Aluminium 1 Lighter */
	cursor: default;
}
div#header > #topbar {
	position: relative;
	width: 940px;
	height: 4px;
	top: 0px;
	margin: 0px auto;
	background-color: #2e3436 /* Aluminium 2 Darker */
}
div#zoomWrap {
	position: absolute;
	top: 120px;
	bottom: 30px;
	width: 24px;
	margin-left: 10px;
}
div#zoom {
	position: absolute;
	top: 50%;
	margin-top: -100px;
	z-index: 2000;
	height: 200px;
	width: 24px;
	background-color: #eeeeec; /* Aluminium 1 Lighter */
	background-color: rgba(238, 238, 236, 0.9); /* Aluminium 1 Lighter */
}
div#main {
	position: absolute;
	top: 140px;
	margin-left: 10px;
	overflow: auto;
}
div#footer {
	position: absolute;
	bottom: 0px;
	z-index: 2000;
	width: 960px;
	height: 40px;
	border-top: #2e3436 dashed 1px;
	background-color: #eeeeec; /* Aluminium 1 Lighter */
	background-color: rgba(238, 238, 236, 0.9); /* Aluminium 1 Lighter */
}
/* MISE EN FORME*/

/* HEADER */

div#header {
	font-family: "FuturaCondensedMedium", sans-serif;
}
div#title {
	float: left;
	width: 320px;
	height: 84px;
}
div#title > h1 {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	height: 84px;
	font-size: 64px;
	color: #2e3436; /* Aluminium 2 Darker */
	letter-spacing: 4px;
}
div#title > div#blink {
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	width: 3px;
	height: 72px;
	background-color: #2e3436; /* Aluminium 2 Darker */
}
div#slider {
	float: left;
	margin-left: 100px;
	width: 440px;
	margin-top: 17px;
	text-align: center;
	color: #888a85; /* Aluminium 2 Lighter */
}
div#leftA, div#rightA {
	position: absolute;
	font-size: 30px;
	top: 38px;
	color: #888a85; /* Aluminium 2 Lighter */
}
div#leftA {
	left: 390px;
}
div#rightA {
	left: 870px;
}
div#slider > h2 {
	font-size: 22px;
	line-height: 32px;
}
div#slider > p {
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 1px;
}
div#slider > h2 > strong {
	color: #555753; /* Aluminium 2 */
}
div#slider > p > a {
	color: #888a85; /* Aluminium 2 Lighter */
}
div#slider > p > a:hover {
	color: #555753; /* Aluminium 2 */
}
/* TOP MENU */

div#topmenu {
	z-index: 2000;
	display: block;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}
div#btnHelp, div#btnFocus {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	cursor: default;
	border: solid 2px #eeeeec; /* Aluminium 2 Darker */
	background-color: #888a85; /* Aluminium 2 Lighter */
}
div#btnHelp.normal {
	margin-right: 2px;
}
div#btnFocus.normal {
}
div#btnHelp:hover {
	margin-right: 2px;
	background-color: #555753; /* Aluminium 2 */
}
div#btnFocus:hover {
	background-color: #555753; /* Aluminium 2 */
}
/* MAIN MENU */

div#mainMenu {
	display: block;
	position: absolute;
	right: 20px;
	top: 95px;
	width: 620px;
	height: 50px;
}
div#btnCenter, div#btnText, div#btnPath, div#btnShow, div#btnFind {
	z-index: 4000;
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-right: 35px;
	margin-left: 35px;
	border: solid 2px #EEEEEC;
	background-color: #888a85;

}

div#btnCenter.normal {

}

div#btnText.normal {

	background: url('btn/btnText.svg');
	background-color: #888a85;
}
div#btnPath.normal {

}
div#btnShow.normal {

}
div#btnFind.normal {

}

.faded {
	opacity:0.5;
}

div#btnCenter.over, div#btnText.over, div#btnPath.over, div#btnShow.over, div#btnFind.over {
	/*border: solid 2px #2e3436;*/
	background-color: #555753;
}
/*HELP MENU*/

div#hlpText, div#hlpPath, div#hlpShow, div#hlpFind {
	position: absolute;
	z-index: -1000;
	width: 120px;
	height: 0px;
	top: 25px;
	border-top: 1px dashed #2e3436;
	background-color: #eeeeec; /* Aluminium 1 Lighter */
	background-color: rgba(238, 238, 236, 0.9); /* Aluminium 1 Lighter */
	overflow: hidden;
}
div#hlpText > p, div#hlpPath > p, div#hlpShow > p, div#hlpFind > p {
	margin-top: 30px;
	text-align: center;
	color: #2e3436 /* Aluminium 2 Darker */

}
/* ZOOM */

div#zoomSlider {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 10px;
	height: 180px;
}
/* FOOTER */

div#footer > h1 {
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	font-family: "FuturaCondensedMedium", sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #2e3436; /* Aluminium 2 Darker */
}
div#footer > div#options {
	display: block;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	width: 300px;
}

div#footer * input[name*=a] {

	float: right;
}
/* MSG SURVOLS */
.fz {
	position: absolute;
	display: block;
	-webkit-transition: background 0.5s;
	width: 100%;
	height: 100%;
}
.fz:hover {
	background-color: #eeeeec; /* Aluminium 1 Lighter */
	cursor: text;
	-webkit-transition: background 0.25s;
	-moz-transition: background 0.25s;
}
.msg.butter, .msg.orange, .msg.chocolate, .msg.chameleon, .msg.skyblue, .msg.plum, .msg.scarletred {
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}
.z1 > .msg.butter:hover, .z2 > .msg.butter:hover, .z4 > .msg.butter:hover, .z10 > .msg.butter:hover, .z20 > .msg.butter:hover, .z40 > .msg.butter:hover {
	background-color: #fce94f; /* Butter Lighter */
	-webkit-transition: background 0.25s;
	-moz-transition: background 0.25s;
}
.z1 > .msg.orange:hover, .z2 > .msg.orange:hover, .z4 > .msg.orange:hover, .z10 > .msg.orange:hover, .z20 > .msg.orange:hover, .z40 > .msg.orange:hover {
	background-color: #fcaf3e; /* Orange Lighter */
	-webkit-transition: background 0.25s;
	-moz-transition: background 0.25s;
}
.z1 > .msg.chocolate:hover, .z2 > .msg.chocolate:hover, .z4 > .msg.chocolate:hover, .z10 > .msg.chocolate:hover, .z20 > .msg.chocolate:hover, .z40 > .msg.chocolate:hover {
	background-color: #e9b96e; /* Chocolate Lighter */
	-webkit-transition: background 0.25s;
	-moz-transition: background 0.25s;
}
.z1 > .msg.chameleon:hover, .z2 > .msg.chameleon:hover, .z4 > .msg.chameleon:hover, .z10 > .msg.chameleon:hover, .z20 > .msg.chameleon:hover, .z40 > .msg.chameleon:hover {
	background-color: #8ae234; /* Chameleon Lighter */
	-webkit-transition: background 0.25s;
	-moz-transition: background 0.25s;
}
.z1 > .msg.skyblue:hover, .z2 > .msg.skyblue:hover, .z4 > .msg.skyblue:hover, .z10 > .msg.skyblue:hover, .z20 > .msg.skyblue:hover, .z40 > .msg.skyblue:hover {
	background-color: #729fcf; /* Sky Blue Lighter */
	-webkit-transition: background 0.25s;
	-moz-transition: background 0.25s;
}
.z1 > .msg.plum:hover, .z2 > .msg.plum:hover, .z4 > .msg.plum:hover, .z10 > .msg.plum:hover, .z20 > .msg.plum:hover, .z40 > .msg.plum:hover {
	background-color: #ad7fa8; /* Plum Lighter */
	-webkit-transition: background 0.25s;
	-moz-transition: background 0.25s;
}
.z1 > .msg.scarletred:hover, .z2 > .msg.scarletred:hover, .z4 > .msg.scarletred:hover, .z10 > .msg.scarletred:hover, .z20 > .msg.scarletred:hover, .z40 > .msg.scarletred:hover {
	background-color: #ef2929; /* Scarlet Red Lighter */
	-webkit-transition: background 0.25s;
	-moz-transition: background 0.25s;
}
/* ZONES EN COURS D'ÉCRITURE */

p.author {
	font-family: "FuturaCondensedMedium", sans-serif;
	text-align: center;
	color: #d3d7cf; /* Aluminium 1 */
}
.z1 > .msg p.author {
	font-size: 72px;
	letter-spacing: 10px;
	margin-top: 110px;
}
.z2 > .msg p.author {
	font-size: 36px;
	letter-spacing: 5px;
	margin-top: 55px;
}
.z4 > .msg p.author {
	font-size: 18px;
	letter-spacing: 2px;
	margin-top: 27px;
}
.z10 > .msg p.author {
	font-size: 12px;
	letter-spacing: 1px;
	margin-top: 8px;
}
.z20 > .l0.butter, .z40 > .l0.butter, .l0.butter {
	background-color: #fce94f; /* Butter Lighter */
}
.z20 > .l0.orange, .z40 > .l0.orange, .l0.orange {
	background-color: #fcaf3e; /* Orange Lighter */
}
.z20 > .l0.chocolate, .z40 > .l0.chocolate, .l0.chocolate {
	background-color: #e9b96e; /* Chocolate Lighter */
}
.z20 > .l0.chameleon, .z40 > .l0.chameleon, .l0.chameleon {
	background-color: #8ae234; /* Chameleon Lighter */
}
.z20 > .l0.skyblue, .z40 > .l0.skyblue, .l0.skyblue {
	background-color: #729fcf; /* Sky Blue Lighter */
}
.z20 > .l0.plum, .z40 > .l0.plum, .l0.plum {
	background-color: #ad7fa8; /* Plum Lighter */
}
.z20 > .l0.scarletred, .z40 > .l0.scarletred, .l0.scarletred {
	background-color: #ef2929; /* Scarlet Red Lighter */
}

.qq-uploader {
	position: relative;
	width: 100%;
	font-family: 'FuturaCondensedMedium';
	font-size: 14px;
	text-transform: uppercase;
}

.qq-upload-button {
	display: block; /* or inline-block */
	width: 100%;
	height: 20px;
	text-align: center;
	background: #BABDB6;
	color: #EEEEEC;
}
.qq-upload-button-hover {
	background: #555753;
}
.qq-upload-button-focus {
	outline: 1px dotted black;
}

.qq-upload-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 2;
	background: #BABDB6;
	color: #EEEEEC;
	text-align: center;
}
.qq-upload-drop-area span {
	display: block;
	position: absolute;
	width: 100%;
}
.qq-upload-drop-area-active {
	background: #555753;
}

.qq-upload-list {
	margin: 15px 35px;
	padding: 0;
	list-style: disc;
}
.qq-upload-list li {
	margin: 0;
	padding: 0;
	line-height: 15px;
	font-size: 12px;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
	margin-right: 7px;
}

.qq-upload-file {
}
.qq-upload-spinner {
	display: inline-block;
	background: url("loading.gif");
	width: 15px;
	height: 15px;
	vertical-align: text-bottom;
}
.qq-upload-size, .qq-upload-cancel {
	font-size: 11px;
}

.qq-upload-failed-text {
	display: none;
}
.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}

div.ctx {
	position: absolute;
	text-align: center;
	width: 1em;
	right: 0px;
	top: 0px;
	background-color: #EF2929;
	font-family: "NotCourierSansRegular", monospace;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.ctx:hover {
	opacity: 1;
}

