/***********************************************************************************
 *  DIFFERENTS ZOOM LEVELS
 ***********************************************************************************/

/* MSG SIZE & TYPOGRAPHY DEFAULT*/

/* SMALL*/

.small(@zoom) {
  width: 480px/@zoom;
  height: 320px/@zoom;
  
  
  
  &.l4 {
    
          >p{
          margin-top: -12px/@zoom;
          font-size: 216px/@zoom;
          line-height: 320px/@zoom;
          letter-spacing: 0px/@zoom;    
          text-align: center;         
        }
      }
 
 
 
  &.l15 {
          >p{
  margin-top: 8px/@zoom;
  font-size: 144px/@zoom;
  line-height: 80px/@zoom;
  letter-spacing: 0px/@zoom;
  text-align: center;
       }        
      }  
  
}



.long(@zoom){
  width: 960px/@zoom;
  height: 320px/@zoom;
}

.tall(@zoom){
  width: 480px/@zoom;
  height: 640px/@zoom;
}

.fat(@zoom){
  width: 960px/@zoom;
  height: 640px/@zoom;
}

/* MSG FONT */


/* Z1 */

.z1 {
  >.msg.s{
    .small(1);
}
  >.msg.l{
    .long(1);
}
  >.msg.t{
    .tall(1);
}
  >.msg.f{
    .fat(1);
}
}

/* Z2 */

.z2 {
  >.msg.s{
    .small(2);
}
  >.msg.l{
    .long(2);
}
  >.msg.t{
    .tall(2);
}
  >.msg.f{
    .fat(2);
}
}

/* Z4 */

.z4 {
  >.msg.s{
    .small(4);
}
  >.msg.l{
    .long(4);
}
  >.msg.t{
    .tall(4);
}
  >.msg.f{
    .fat(4);
}
}

/* Z10 */

.z10 {
  >.msg.s{
    .small(10);
}
  >.msg.l{
    .long(10);
}
  >.msg.t{
    .tall(10);
}
  >.msg.f{
    .fat(10);
}
}

/* Z20 */

.z20 {
  >.msg.s{
    .small(20);
}
  >.msg.l{
    .long(20);
}
  >.msg.t{
    .tall(20);
}
  >.msg.f{
    .fat(20);
}
}

/* Z40 */

.z40 {
  >.msg.s{
    .small(40);
}
  >.msg.l{
    .long(40);
}
  >.msg.t{
    .tall(40);
}
  >.msg.f{
    .fat(40);
}
}