/* TEXTOPOLY ICON SET */

/* Cancel */
.ca {
	background-image: url('icons/cancel.svg');
}

.ca:hover {
	background-color: #CC0000;
}

/* OK */
.ok {
	background-image: url('icons/accept.svg');
}
.ok:hover {
	background-color: #73D216;
}

/* MEDIA */

.me {
	background-image: url('icons/media.svg');
}

/* TEXTE */

.tx {
	background-image: url('icons/text.svg');
}
/* FLÈCHE DROITE */
.ar {
	background-image: url('icons/arrow_right.svg');
}

/* FLÈCHE GAUCHE */
.al {
	background-image: url('icons/arrow_left.svg');
}
/* FLÈCHE HAUT */
.au {
	background-image: url('icons/arrow_up.svg');
}
/* FLÈCHE BAS */
.ad {
	background-image: url('icons/arrow_down.svg');
}
