/* FONTFACE*/
@font-face {
	font-family: 'NotCourierSansRegular';
	src: url('fonts/notcouriersans-webfont.eot');
	src: url('fonts/notcouriersans-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/notcouriersans-webfont.woff') format('woff'), url('fonts/notcouriersans-webfont.ttf') format('truetype'), url('fonts/notcouriersans-webfont.svg#NotCourierSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaCondensedMedium';
	src: url('fonts/futura_c-webfont.eot');
	src: url('fonts/futura_c-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/futura_c-webfont.woff') format('woff'), url('fonts/futura_c-webfont.ttf') format('truetype'), url('fonts/futura_c-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* VALEURS GLOBALES*/

body {
	background: #d3d7cf; /* Aluminium 1 */
	height: 100%;
	-webkit-user-select: none;
}
.msg {
	display: block;
	position: absolute;
}

.msg > p {
	font-family: "NotCourierSansRegular", monospace;
	color: #2e3436; /* Aluminium 2 Darker */
}
div#main > h1, h2, h3, h4, h5, h6, label {
	font-family: 'FuturaCondensedMedium';
	text-transform: uppercase;
	color: #555753; /* Aluminium 2 */
}
div#main > hr {
	width: 940px;
	height: 1px;
	border: 0;
	background-color: #2e3436; /* Aluminium 2 Darker */
}
div#main > h1 {
	font-size: 24px;
	margin-bottom: 20px;
	letter-spacing: 5px;
}
div#main > h2 {
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
div#main > input {
	font-family: "NotCourierSansRegular", monospace;
}
div#main > label {
	font-size: 14px;
	letter-spacing: 1px;
	color: #555753; /* Aluminium 2 */
}