/* TAILLES DES MSG ZOOM 1:20 */

.z20 > .msg.s {
	width: 24px;
	height: 16px;
}
.z20 > .msg.l {
	width: 48px;
	height: 16px;
}
.z20 > .msg.t {
	width: 24px;
	height: 32px;
}
.z20 > .msg.f {
	width: 48px;
	height: 32px;
}
/* COULEURS DES MSG */

.z20 > .msg.butter,.z20 >.msg.orange,.z20 >.msg.chocolate,.z20 >.msg.chameleon,.z20 >.msg.skyblue,.z20 >.msg.plum,.z20 >.msg.scarletred {
	background-color: #555753; 

}



/*
.z20 > .butter {
	background-color: #c4a000;
}
.z20 > .orange {
	background-color: #ce5c00;
}
.z20 > .chocolate {
	background-color: #8f5902;
}
.z20 > .chameleon {
	background-color: #4e9a06; 
}
.z20 > .skyblue {
	background-color: #204a87; 
}
.z20 > .plum {
	background-color: #5c3566; 
	
.z20 > .scarletred {
	background-color: #a40000; 
}
.z20 > .aluminium1 {
	background-color: #babdb6;
}
.z20 > .aluminium2 {
	background-color: #2e3436;
}
*/