/* TAILLES DES MSG ZOOM 1:2 */

.z2 > .msg.s {
	width: 240px;
	height: 160px;
}
.z2 > .msg.l {
	width: 480px;
	height: 160px;
}
.z2 > .msg.t {
	width: 240px;
	height: 320px;
}
.z2 > .msg.f {
	width: 480px;
	height: 320px;
}
/* STYLES DES MSG ZOOM 1:2 */

.z2 > .msg > p {
	margin-left: 10px;
	margin-right: 10px;
}
/* STYLES DES MSG ZOOM 1:2 SMALL*/

.z2 > .msg.s.l4 > p {
	margin-top: 0px;
	font-size: 108px;
	line-height: 160px;
	text-align: center;
	letter-spacing: 0px;
}
.z2 > .msg.s.l15 > p {
	margin-top: 9px;
	font-size: 72px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0px;
}
.z2 > .msg.s.l50 > p {
	margin-top: 4px;
	font-size: 24px;
	line-height: 40px;
	text-align: left;
	letter-spacing: 0px;
}
.z2 > .msg.s.l150 > p {
	margin-top: -4px;
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	letter-spacing: 0px;
}
.z2 > .msg.s.l300 > p {
	margin-top: 1px;
	font-size: 12px;
	line-height: 10px;
	text-align: left;
	letter-spacing: 3px;
}
.z2 > .msg.s.l600 > p {
	margin-top: 3px;
	font-size: 7px;
	line-height: 10px;
	text-align: justify;
	letter-spacing: 1px;
}
/* STYLES DES MSG ZOOM 1:2 LONG*/

.z2 > .msg.l.l4 > p {
	margin-top: -22px;
	font-size: 186px;
	line-height: 160px;
	text-align: center;
	letter-spacing: 30px;
}
.z2 > .msg.l.l15 > p {
	margin-top: 54px;
	font-size: 60px;
	line-height: 40px;
	text-align: center;
	letter-spacing: -12px;
}
.z2 > .msg.l.l50 > p {
	margin-top: -3px;
	font-size: 48px;
	line-height: 40px;
	text-align: right;
	letter-spacing: 0px;
}
.z2 > .msg.l.l150 > p {
	margin-top: 12px;
	font-size: 30px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0px;
}
.z2 > .msg.l.l300 > p {
	margin-top: -3px;
	font-size: 18px;
	line-height: 20px;
	text-align: justify;
	letter-spacing: 0px;
}
.z2 > .msg.l.l600 > p {
	margin-top: 2px;
	font-size: 12px;
	line-height: 10px;
	text-align: justify;
	letter-spacing: 4px;
}
/* STYLES DES MSG ZOOM 1:2 TALL*/

.z2 > .msg.t.l4 > p {
	margin-top: 64px;
	font-size: 162px;
	line-height: 160px;
	text-align: justify;
	letter-spacing: -40px;
}
.z2 > .msg.t.l15 > p {
	margin-top: 1px;
	font-size: 70px;
	line-height: 100px;
	text-align: justify;
	letter-spacing: 0px;
}
.z2 > .msg.t.l50 > p {
	margin-top: -3px;
	font-size: 48px;
	line-height: 40px;
	text-align: right;
	letter-spacing: 0px;
}
.z2 > .msg.t.l150 > p {
	margin-top: 6px;
	font-size: 18px;
	line-height: 40px;
	text-align: justify;
	letter-spacing: 0px;
}
.z2 > .msg.t.l300 > p {
	margin-top: 15px;
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	letter-spacing: -1px;
}
.z2 > .msg.t.l600 > p {
	margin-top: 18px;
	font-size: 12px;
	line-height: 20px;
	text-align: justify;
	letter-spacing: -2px;
}
/* STYLES DES MSG ZOOM 1:2 FAT*/

.z2 > .msg.f.l4 > p {
	margin-top: -12px;
	font-size: 222px;
	line-height: 320px;
	text-align: center;
	letter-spacing: 34px;
}
.z2 > .msg.f.l15 > p {
	margin-top: 36px;
	font-size: 120px;
	line-height: 80px;
	text-align: left;
	letter-spacing: 0px;
}
.z2 > .msg.f.l50 > p {
	margin-top: -4px;
	font-size: 54px;
	line-height: 80px;
	text-align: center;
	letter-spacing: 0px;
}
.z2 > .msg.f.l150 > p {
	margin-top: 1px;
	font-size: 36px;
	line-height: 40px;
	text-align: left;
	letter-spacing: 1px;
}
.z2 > .msg.f.l300 > p {
	margin-top: 14px;
	font-size: 25px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 5px;
}
.z2 > .msg.f.l600 > p {
	margin-top: 16px;
	font-size: 18px;
	line-height: 20px;
	text-align: justify;
	letter-spacing: 0px;
}