/* WRITINGBOX */
div#writingBox {
	z-index: 1000;
	position: absolute;
	display: block;
	top: 200px;
	left: 100px;
	border: dashed 1px red;
}
div#writingArea {
	position: relative;
	top: 0px;
	left: 0px;
	border: dashed 1px blue;
	background-color: #eeeeec; /* Aluminium 1 Lighter */
	background-color: rgba(238, 238, 236, 0.9); /* Aluminium 1 Lighter */
}
textarea[name*=t] {
	position: relative;
	left: 10px;
	overflow: hidden;
	border: none;
	resize: none;
	background-color: #eeeeec; /* Aluminium 1 Lighter */
	background-color: rgba(238, 238, 236, 0.9); /* Aluminium 1 Lighter */
}

:focus {
      outline:0;
      outline:none;
}
div#writingCommands {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 240px;
	height: 60px;
	margin-top: 10px;
	text-align: center;
	background-color: #2e3436; /* Aluminium 2 Darker */
	background-color: rgba(46, 52, 54, 0.8); /* Aluminium 2 Darker */
	border: dashed 1px green;
}
div#charCount {

}



/* WRITING AREA */

div#writingArea.s {
	width: 240px;
	height: 160px;
}
div#writingArea.l {
	width: 480px;
	height: 160px;
}
div#writingArea.t {
	width: 240px;
	height: 320px;
}
div#writingArea.f {
	width: 480px;
	height: 320px;
}

/* TEXT AREA */

div#writingArea.s > textarea[name*=t] {
	width: 220px;
	height: 160px;
}

div#writingArea.l > textarea[name*=t] {
	width: 460px;
	height: 160px;
}

div#writingArea.t > textarea[name*=t] {
	width: 220px;
	height: 320px;
}
div#writingArea.f > textarea[name*=t] {
	width: 460px;
	height: 320px;
}


/* STYLES DES MSG ZOOM 1:2 SMALL*/

.z2 * .msg.s.l4 > textarea {
	font-size: 108px;
	line-height: 160px;
	text-align: center;
	letter-spacing: 0px;
}
.z2 * .msg.s.l15 > textarea {
	font-size: 72px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0px;
}
.z2 * .msg.s.l50 > textarea {
	font-size: 24px;
	line-height: 40px;
	text-align: left;
	letter-spacing: 0px;
}
.msg.s.l150 > textarea {
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	letter-spacing: 0px;
}
.z2 * .msg.s.l300 > textarea {
	font-size: 12px;
	line-height: 10px;
	text-align: left;
	letter-spacing: 3px;
}
.z2 * .msg.s.l600 > textarea {
	font-size: 7px;
	line-height: 10px;
	text-align: justify;
	letter-spacing: 1px;
}
/* STYLES DES MSG ZOOM 1:2 LONG*/

.z2 * .msg.l.l4 > textarea {
	font-size: 186px;
	line-height: 160px;
	text-align: center;
	letter-spacing: 30px;
}
.z2 * .msg.l.l15 > textarea {
	font-size: 60px;
	line-height: 40px;
	text-align: center;
	letter-spacing: -12px;
}
.z2 * .msg.l.l50 > textarea {
	font-size: 48px;
	line-height: 40px;
	text-align: right;
	letter-spacing: 0px;
}
.z2 * .msg.l.l150 > textarea {
	font-size: 30px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0px;
}
.z2 * .msg.l.l300 > textarea {
	font-size: 18px;
	line-height: 20px;
	text-align: justify;
	letter-spacing: 0px;
}
.z2 > .msg.l.l600 > textarea {
	font-size: 12px;
	line-height: 10px;
	text-align: justify;
	letter-spacing: 4px;
}
/* STYLES DES MSG ZOOM 1:2 TALL*/

.z2 * .msg.t.l4 > textarea {
	font-size: 162px;
	line-height: 160px;
	text-align: justify;
	letter-spacing: -40px;
}
.z2 * .msg.t.l15 > textarea {
	font-size: 70px;
	line-height: 100px;
	text-align: justify;
	letter-spacing: 0px;
}
.z2 * .msg.t.l50 > textarea {
	font-size: 48px;
	line-height: 40px;
	text-align: right;
	letter-spacing: 0px;
}
.z2 * .msg.t.l150 > textarea {
	font-size: 18px;
	line-height: 40px;
	text-align: justify;
	letter-spacing: 0px;
}
.z2 * .msg.t.l300 > textarea {
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	letter-spacing: -1px;
}
.z2 * .msg.t.l600 > textarea {
	font-size: 12px;
	line-height: 20px;
	text-align: justify;
	letter-spacing: -2px;
}
/* STYLES DES MSG ZOOM 1:2 FAT*/

.z2 * .msg.f.l4 > textarea {
	font-size: 222px;
	line-height: 320px;
	text-align: center;
	letter-spacing: 15px;
}
.z2 * .msg.f.l15 > textarea {
	font-size: 120px;
	line-height: 80px;
	text-align: left;
	letter-spacing: 0px;
}
.z2 * .msg.f.l50 > textarea {
	font-size: 54px;
	line-height: 80px;
	text-align: center;
	letter-spacing: 0px;
}
.z2 * .msg.f.l150 > textarea {
	font-size: 36px;
	line-height: 40px;
	text-align: left;
	letter-spacing: 1px;
}
.z2 * .msg.f.l300 > textarea {
	font-size: 25px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 5px;
}
.z2 * .msg.f.l600 > textarea {
	font-size: 18px;
	line-height: 20px;
	text-align: justify;
	letter-spacing: 0px;
}
