div#writingBox {
	z-index: 1000;
	position: absolute;
	display: block;
	top: 200px;
	left: 100px;
}
div#writingArea {
	position: relative;
	top: 0px;
	left: 0px;
}
textarea[name*=t] {
	position: relative;
	left: 0px;
	top: 0px;
	background-color: #eeeeec; /* Aluminium 1 Lighter */
	background-color: rgba(238, 238, 236, 0.9); /* Aluminium 1 Lighter */
	border: none;
	resize: none;
	-webkit-box-shadow: 0px 0px 10px #2e3436;
}
div#writingArea.s, div#writingArea.s > textarea[name*=t] {
	width: 240px;
	height: 160px;
}
div#writingArea.l, div#writingArea.l > textarea[name*=t] {
	width: 480px;
	height: 160px;
}
div#writingArea.t, div#writingArea.t > textarea[name*=t] {
	width: 240px;
	height: 320px;
}
div#writingArea.f, div#writingArea.f > textarea[name*=t] {
	width: 480px;
	height: 320px;
}
div#writingCommands {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 240px;
	height: 50px;
	margin-top: 10px;
	text-align: center;
	background-color: #2e3436; /* Aluminium 2 Darker */
	background-color: rgba(46, 52, 54, 0.8); /* Aluminium 2 Darker */
	-webkit-box-shadow: 0px 0px 10px #2e3436;
}
