.msg{
	border: dashed 1px;
	overflow: hidden;

}

.z1 > .msg {
	background: url("dev/baseline.png") repeat;
}
.z2 > .msg {
	background: url("dev/baseline.png") repeat;
}
.z4 > .msg {
	background: url("dev/baseline2.png") repeat;
}
.z10 > .msg {
	background-color: white;
}


div#uiWrap {

	border: dashed red 1px;

}
div#zoomWrap {

	border: dashed blue 1px;

}

div#content{
		background-image: url("dev/bg.png") repeat;
}
