/*TANGO COLOR PALETTE
 http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines#Color_Palette
 HEX & RGBA values
 */

/* TESTERS*/

.clr {
	height: 50px;
	width: 50px;
	display: inline-block;
}
/* REGULAR COLORS*/

.butter {
	background-color: #edd400; /* Butter */
	background-color: rgba(237,212,0, 1); /* Butter */
}
.orange {
	background-color: #f57900; /* Orange */
	background-color: rgba(245, 121, 0, 1); /* Orange */
}
.chocolate {
	background-color: #c17d11; /* Chocolate */
	background-color: rgba(193, 125, 17, 1); /* Chocolate */
}
.chameleon {
	background-color: #73d216; /* Chameleon */
	background-color: rgba(115, 210, 22, 1); /* Chameleon */
}
.skyblue {
	background-color: #3465a4; /* Sky Blue */
	background-color: rgba(52, 101, 164, 1); /* Sky Blue */
}
.plum {
	background-color: #75507b; /* Plum */
	background-color: rgba(117, 80, 123, 1); /* Plum */
}
.scarletred {
	background-color: #cc0000; /* Scarlet Red */
	background-color: rgba(204, 0, 0, 1); /* Scarlet Red */
}
.aluminium1 {
	background-color: #d3d7cf; /* Aluminium 1 */
	background-color: rgba(211, 215, 207, 1); /* Aluminium 1 */
}
.aluminium2 {
	background-color: #555753; /* Aluminium 2 */
	background-color: rgba(85, 87, 83, 1); /* Aluminium 2 */
}
/* LIGHT COLORS*/

.butterL {
	background-color: #fce94f; /* Butter Lighter */
	background-color: rgba(252, 233, 79, 1); /* Butter Lighter */
}
.orangeL {
	background-color: #fcaf3e; /* Orange Lighter */
	background-color: rgba(252, 175, 62, 1); /* Orange Lighter */
}
.chocolateL {
	background-color: #e9b96e; /* Chocolate Lighter */
	background-color: rgba(233, 185, 110, 1); /* Chocolate Lighter */
}
.chameleonL {
	background-color: #8ae234; /* Chameleon Lighter */
	background-color:rgba(138, 226, 52, 1); /* Chameleon Lighter */
}
.skyblueL {
	background-color: #729fcf; /* Sky Blue Lighter */
	background-color: rgba(114, 159, 207, 1); /* Sky Blue Lighter */
}
.plumL {
	background-color: #ad7fa8; /* Plum Lighter */
	background-color: rgba(173, 127, 168, 1); /* Plum Lighter */
}
.scarletredL {
	background-color: #ef2929; /* Scarlet Red Lighter */
	background-color: rgba(239, 41, 41, 1); /* Scarlet Red Lighter */
}
.aluminium1L {
	background-color: #eeeeec; /* Aluminium 1 Lighter */
	background-color: rgba(238, 238, 236, 1); /* Aluminium 1 Lighter */
}
.aluminium2L {
	background-color: #888a85; /* Aluminium 2 Lighter */
	background-color: rgba(136, 138, 133, 1); /* Aluminium 2 Lighter */
}
/* DARK COLORS*/
.butterD {
	background-color: #c4a000;  /* Butter Darker */
	background-color: rgba(196, 160, 0, 1);  /* Butter Darker */
}
.orangeD {
	background-color: #ce5c00; /* Orange Darker */
	background-color: rgba(206, 92, 0, 1); /* Orange Darker */
}
.chocolateD {
	background-color: #8f5902; /* Chocolate Darker */
	background-color: rgba(143, 89, 2, 1); /* Chocolate Darker */
}
.chameleonD {
	background-color: #4e9a06; /* Chameleon Darker */
	background-color: rgba(78, 154, 6, 1); /* Chameleon Darker */
}
.skyblueD {
	background-color: #204a87; /* Sky Blue Darker */
	background-color: rgba(32, 74, 135, 1); /* Sky Blue Darker */
}
.plumD {
	background-color: #5c3566; /* Plum Darker */
	background-color: rgba(92, 53, 102, 1); /* Plum Darker */
}
.scarletredD {
	background-color: #a40000; /* Scarlet Red Darker */
	background-color: rgba(164, 0, 0, 1); /* Scarlet Red Darker */
}
.aluminium1D {
	background-color: #babdb6; /* Aluminium 1 Darker */
	background-color: rgba(186, 189, 182, 1); /* Aluminium 1 Darker */
}
.aluminium2D {
	background-color: #2e3436; /* Aluminium 2 Darker */
	background-color: rgba(46, 52, 54, 1); /* Aluminium 2 Darker */
}