/* TAILLES DES MSG ZOOM 1:1 */

.z1 > .msg.s {
	width: 480px;
	height: 320px;
}
.z1 > .msg.l {
	width: 960px;
	height: 320px;
}
.z1 > .msg.t {
	width: 480px;
	height: 640px;
}
.z1 > .msg.f {
	width: 960px;
	height: 640px;
}
/* STYLES DES MSG ZOOM 1:1 */

.z1 > .msg > p {
	margin-left: 20px;
	margin-right: 20px;
}
/* STYLES DES MSG ZOOM 1:1 SMALL*/

.z1 > .msg.s.l4 > p {
	margin-top: -12px;
	font-size: 216px;
	line-height: 320px;
	text-align: center;
	letter-spacing: 0px;
}
.z1 > .msg.s.l15 > p {
	margin-top: 8px;
	font-size: 144px;
	line-height: 80px;
	text-align: center;
	letter-spacing: 0px;
}
.z1 > .msg.s.l50 > p {
	margin-top: -4px;
	font-size: 48px;
	line-height: 80px;
	text-align: left;
	letter-spacing: 0px;
}
.z1 > .msg.s.l150 > p {
	margin-top: 0px;
	font-size: 36px;
	line-height: 40px;
	text-align: left;
	letter-spacing: 0px;
}
.z1 > .msg.s.l300 > p {
	margin-top: 14px;
	font-size: 24px;
	line-height: 20px;
	text-align: left;
	letter-spacing: 6px;
}
.z1 > .msg.s.l600 > p {
	margin-top: 18px;
	line-height: 20px;
	text-align: justify;
	letter-spacing: 2px;
	font-size: 12px;
}
/* STYLES DES MSG ZOOM 1:1 LONG*/

.z1 > .msg.l.l4 > p {
	margin-top: -38px;
	font-size: 372px;
	line-height: 320px;
	text-align: center;
	letter-spacing: 120px;
}
.z1 > .msg.l.l15 > p {
	margin-top: 114px;
	font-size: 120px;
	line-height: 80px;
	text-align: center;
	letter-spacing: -24px;
}
.z1 > .msg.l.l50 > p {
	margin-top: 2px;
	font-size: 96px;
	line-height: 80px;
	text-align: right;
	letter-spacing: 0px;
}
.z1 > .msg.l.l150 > p {
	margin-top: 12px;
	font-size: 60px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0px;
}
.z1 > .msg.l.l300 > p {
	margin-top: 0px;
	font-size: 36px;
	line-height: 40px;
	text-align: justify;
	letter-spacing: 0px;
}
.z1 > .msg.l.l600 > p {
	margin-top: 34px;
	font-size: 24px;
	line-height: 20px;
	text-align: justify;
	letter-spacing: 4px;
}
/* STYLES DES MSG ZOOM 1:1 TALL*/

.z1 > .msg.t.l4 > p {
	margin-top: 116px;
	font-size: 324px;
	line-height: 320px;
	text-align: justify;
	letter-spacing: -80px;
}
.z1 > .msg.t.l15 > p {
	margin-top: 10px;
	font-size: 140px;
	line-height: 200px;
	text-align: justify;
	letter-spacing: 0px;
}
.z1 > .msg.t.l50 > p {
	margin-top: 2px;
	font-size: 96px;
	line-height: 80px;
	text-align: right;
	letter-spacing: 0px;
}
.z1 > .msg.t.l150 > p {
	margin-top: 0px;
	font-size: 36px;
	line-height: 80px;
	text-align: justify;
	letter-spacing: 0px;
}
.z1 > .msg.t.l300 > p {
	margin-top: 0px;
	font-size: 36px;
	line-height: 40px;
	text-align: left;
	letter-spacing: 0px;
}
.z1 > .msg.t.l600 > p {
	margin-top: 4px;
	font-size: 24px;
	line-height: 40px;
	text-align: justify;
	letter-spacing: -4px;
}
/* STYLES DES MSG ZOOM 1:1 FAT*/

.z1 > .msg.f.l4 > p {
	margin-top: 2px;
	font-size: 444px;
	line-height: 640px;
	text-align: center;
	letter-spacing: 68px;
}
.z1 > .msg.f.l15 > p {
	margin-top: 80px;
	font-size: 240px;
	line-height: 160px;
	text-align: left;
	letter-spacing: 0px;
}
.z1 > .msg.f.l50 > p {
	margin-top: 0px;
	font-size: 108px;
	line-height: 160px;
	text-align: center;
	letter-spacing: 0px;
}
.z1 > .msg.f.l150 > p {
	margin-top: -8px;
	font-size: 72px;
	line-height: 80px;
	text-align: left;
	letter-spacing: 2px;
}
.z1 > .msg.f.l300 > p {
	margin-top: 36px;
	font-size: 50px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 10px;
}
.z1 > .msg.f.l600 > p {
	margin-top: 0px;
	font-size: 36px;
	line-height: 40px;
	text-align: justify;
	letter-spacing: 0px;
}