/* TAILLES DES MSG ZOOM 1:20 */

.z20 > .msg.s {
	width: 24px;
	height: 16px;
}
.z20 > .msg.l {
	width: 48px;
	height: 16px;
}
.z20 > .msg.t {
	width: 24px;
	height: 32px;
}
.z20 > .msg.f {
	width: 48px;
	height: 32px;
}

/* COULEURS DES MSG */


.z20 > .butter {
	background-color: #c4a000;  /* Butter Ddarker */
}
.z20 >.orange {
	background-color: #ce5c00; /* Orange darker */
}
.z20 >.chocolate {
	background-color: #8f5902; /* Chocolate darker */
}
.z20 >.chameleon {
	background-color: #4e9a06; /* Chameleon darker */
}
.z20 >.skyblue {
	background-color: #204a87; /* Sky Blue darker */
}
.z20 >.plum {
	background-color: #5c3566; /* Plum darker */
}
.z20 >.scarletred {
	background-color: #a40000; /* Scarlet Red darker */
}
.z20 >.aluminium1 {
	background-color: #babdb6; /* Aluminium 1 darker */
}
.z20 >.aluminium2 {
	background-color: #2e3436; /* Aluminium 2 darker */
}