

/* TAILLES DES MSG ZOOM 1:4 */

.z4 > .msg.s {
	width: 120px;
	height: 80px;
}
.z4 > .msg.l {
	width: 240px;
	height: 80px;
}
.z4 > .msg.t {
	width: 120px;
	height: 160px;
}
.z4 > .msg.f {
	width: 240px;
	height: 160px;
}
/* STYLES DES MSG ZOOM 1:4 */

.z4 > .msg > p {
	margin-left: 5px;
	margin-right: 5px;
}
/* STYLES DES MSG ZOOM 1:4 SMALL*/

.z4 > .msg.s.l4 > p {
	margin-top: -2px;
	font-size: 54px;
	line-height: 80px;
	text-align: center;
	letter-spacing: 0px;
}
.z4 > .msg.s.l15 > p {
	margin-top: 5px;
	font-size: 36px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0px;
}
.z4 > .msg.s.l50 > p {
	margin-top: 0px;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	letter-spacing: 0px;
}
.z4 > .msg.s.l150 > p {
	margin-top: 0px;
	font-size: 9px;
	line-height: 10px;
	text-align: left;
	letter-spacing: 0px;
}
.z4 > .msg.s.l300 > p {
	margin-top: 1px;
	font-size: 6px;
	line-height: 5px;
	text-align: left;
	letter-spacing: 1px;
}
.z4 > .msg.s.l600 > p {
	margin-top: 4px;
	font-size: 4px;
	line-height: px;
	text-align: justify;
	letter-spacing: 1px;

}
/* STYLES DES MSG ZOOM 1:4 LONG*/

.z4 > .msg.l.l4 > p {
	margin-top: -8px;
	font-size: 93px;
	line-height: 80px;
	text-align: center;
	letter-spacing: 30px;
}
.z4 > .msg.l.l15 > p {
	margin-top: 26px;
	font-size: 30px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -6px;
}
.z4 > .msg.l.l50 > p {
	margin-top: 0px;
	font-size: 24px;
	line-height: 20px;
	text-align: right;
	letter-spacing: 0px;
}
.z4 > .msg.l.l150 > p {
	margin-top: 5px;
	font-size: 15px;
	line-height: 10px;
	text-align: center;
	letter-spacing: 0px;
}
.z4 > .msg.l.l300 > p {
	margin-top: 5px;
	font-size: 9px;
	line-height: 10px;
	text-align: justify;
	letter-spacing: 0px;
}
.z4 > .msg.l.l600 > p {
	margin-top: 8px;
	font-size: 6px;
	line-height: 5px;
	text-align: justify;
	letter-spacing: 1px;
}
/* STYLES DES MSG ZOOM 1:4 TALL*/

.z4 > .msg.t.l4 > p {
	margin-top: 31px;
	font-size: 81px;
	line-height: 80px;
	text-align: justify;
	letter-spacing: -20px;
}
.z4 > .msg.t.l15 > p {
	margin-top: 1px;
	font-size: 35px;
	line-height: 50px;
	text-align: justify;
	letter-spacing: 0px;
}
.z4 > .msg.t.l50 > p {
	margin-top: 0px;
	font-size: 24px;
	line-height: 20px;
	text-align: right;
	letter-spacing: 0px;
}
.z4 > .msg.t.l150 > p {
	margin-top: 3px;
	font-size: 9px;
	line-height: 20px;
	text-align: justify;
	letter-spacing: 0px;
}
.z4 > .msg.t.l300 > p {
	margin-top: 8px;
	font-size: 9px;
	line-height: 10px;
	text-align: left;
	letter-spacing: 0px;
}
.z4 > .msg.t.l600 > p {
	margin-top: 9px;
	font-size: 6px;
	line-height: 8px;
	text-align: justify;
	letter-spacing: -1px;
}
/* STYLES DES MSG ZOOM 1:4 FAT*/

.z4 > .msg.f.l4 > p {
	margin-top: -6px;
	font-size: 111px;
	line-height: 160px;
	text-align: center;
	letter-spacing: 17px;
}
.z4 > .msg.f.l15 > p {
	margin-top: 18px;
	font-size: 60px;
	line-height: 40px;
	text-align: left;
	letter-spacing: 0px;
}
.z4 > .msg.f.l50 > p {
	margin-top: -2px;
	font-size: 27px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0px;
}
.z4 > .msg.f.l150 > p {
	margin-top: 0px;
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	letter-spacing: 0px;
}
.z4 > .msg.f.l300 > p {
	margin-top: 9px;
	font-size: 12px;
	line-height: 10px;
	text-align: center;
	letter-spacing: 2px;
}
.z4 > .msg.f.l600 > p {
	margin-top: 0px;
	font-size: 9px;
	line-height: 10px;
	text-align: justify;
	letter-spacing: 0px;
}